{% load static %}

<footer class="sticky-footer">
    <div class="container">
       <div class="row no-gutters">
          <div class="col-lg-6 col-sm-6">
             <p class="mt-1 mb-0">&copy; Copyright 2020 <strong class="text-dark">Caravan TV</strong>. All Rights Reserved<br>
             </p>
          </div>
          <div class="col-lg-6 col-sm-6 text-right">
             <div class="app">
                <a href="#"><img alt="" src="{% static 'img/google.png' %}"></a>
                <a href="#"><img alt="" src="{% static 'img/apple.png' %}"></a>
             </div>
          </div>
       </div>
    </div>
 </footer>